/* Button */
#carousel-tools-1 .splide__arrow,
#carousel-tools-2 .splide__arrow {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0;
    width: 30px;
    height: 100px;
}

/* Button's icon */
#carousel-tools-1 .splide__arrow>svg,
#carousel-tools-2 .splide__arrow>svg {
    fill: #FF6E30;
    width: 30px;
    height: 30px;
}

/* Prev button */
#carousel-tools-1 .splide__arrow--prev,
#carousel-tools-2 .splide__arrow--prev {
    border-radius: 0 10px 10px 0;
    left: 0;
}

/* Next button */
#carousel-tools-1 .splide__arrow--next,
#carousel-tools-2 .splide__arrow--next {
    border-radius: 10px 0 0 10px;
    right: 0;
}

/* Pagination */
#carousel-tools-1 .splide__pagination,
#carousel-tools-2 .splide__pagination {
    bottom: -50px;
    gap: 5px;
}

#carousel-tools-1 .splide__pagination__page.is-active,
#carousel-tools-2 .splide__pagination__page.is-active {
    background-color: #FF6E30;
}

@media screen and (max-width: 766px) {
    #carousel-tools-1 .splide__arrow,
    #carousel-tools-2 .splide__arrow {
        width: 20px;
    }

    #carousel-tools-1 .splide__arrow>svg,
    #carousel-tools-2 .splide__arrow>svg {
        width: 20px;
        height: 20px;
    }
}